.env
.vscode
.DS_Store
.pytest_cache
__pycache__

/datasets/
/processed_datasets/
/output/
/models/
/results/
*.out

/all_generate/
/all_generate_dino.5/
/all_generate_dino.1/
/all_generate3/
/generate_data/
/generate_data_dino.5/
/generate_data_dino.1/
/generate_data3/
/attention_maps/

# External repositories
/extra_repository/